<div class="wrapper">
  <div class='container-fliud'>
    <div class="card entry">
      <div class="card-block">

        <h3 class="card-title text-uppercase"><img src="/images/scurrylogo.gif" alt='scurry logo' class='headerLogo'>Scurry</h3>
        <h5 class="card-text entry">{{title}}</h5>

        <p>Description: {{description}}</p>
        <p>In {{city}} on {{when}}</p>

        <img class='profilepic' src="https://source.unsplash.com/2100x1200/?{{title}}/" alt='image of thing'>

      </div>

        <!-- <a href="/delete-activity/{{id}}" class="btn btn-sm btn-danger">Delete {{title}}</a> -->
    </div>


          {{#if noob}}
        <a href='/{{id}}/scurry-activity' class='btn btn-success'>join</a>
            {{else}}
          {{/if}}
    {{#if admin}}
      <a id='deletebtn' href="/delete-activity/{{id}}" class="btn btn-danger">Delete {{title}}</a>
      <a id='deletebtn' href="/edit-activity/{{id}}" class="btn btn-primary">Edit {{title}}</a>
    {{else}}
      <a id='deletebtn' href="/delete-activity/{{id}}" class="btn btn-danger hidden">Delete {{title}}</a>
    {{/if}}



  </div>

</div>
<input id="pac-input" class="controls" type="text" value="{{address}}{{city}}{{state}}">
<div id="map"></div>
