<div class='container-fliud'>
  <div class="card entry">
    <div class="card-block">

      <h3 class="card-title text-uppercase"><img src="/images/scurrylogo.gif" alt='scurry logo' class='headerLogo'>Scurry</h3>
      <h5 class="card-text entry">{{title}}</h5>

      <p>Description: {{description}}</p>
      <p>In {{city}} on {{when}}</p>

    </div>
      <a href="/delete-activity/{{id}}" class="btn btn-danger">Delete {{title}}</a>
  </div>


</div>
