<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
<div id="wrapper">
  <div class='dashboardbox'>
    <h2 class='dashboard-h2'><img src="/images/scurrylogo.gif" alt='scurry logo' class='headerLogo'>Hello {{user}}!</h2>
    <hr>
    <br>
      <div class="row">
          <div class="col-xs-6 col-md-4">
              <div class='card-deck'>
                <div class='dashboard-card'>
                    <div class="card-block" id='porfile'>
                        <img class='profilepic' src={{photo}}>
                    </div>
                </div>
                <a href='/create-activity'><div class='dashboard-card button'>
                    <div class="card-block" id='create'>
                        <h5>Create Activity</h5>
                        <span class='photo-results'></span>
                    </div>
                </div></a>
                <a href='/find-activity'><div class='dashboard-card button'>
                    <div class="card-block" id='find'>
                        <h5>Find Activity</h5>
                        <span class='photo-results'>
                        </span>
                    </div>
                </div></a>

                <a href='/'><div class='dashboard-card button'>
                    <div class="card-block" id='create'>
                        <h5>Logout</h5>
                        <span class='photo-results'></span>
                    </div>
                </div></a>
            </div>
          </div>

          <div id='middlerow' class="col-xs-6 col-md-4">
              <div class='card-deck'>
                  <div class='dashboard-card middle'>
                      <div class="card-block" id='weather'>
                        <h5>Local Weather</h5>
                        <hr>
                        <br>
                          <span id='weatherResults'>
                          </span>
                      </div>
                  </div>
              </div>
          </div>
        <div class="col-xs-6 col-md-4">
            <div class='card-deck'>
              <div class='dashboard-card'>
                <div class="card-block" id='upcoming'>
                  <h5>Hosting:</h5>
                  <hr>
                  {{#each events}}
<<<<<<< HEAD
                  <a href='/scurry-activity/{{this.id}}'><h6> {{this.title}} </h6></a><p>in {{this.city}}</p>
                  {{/each}}
=======
                  <a href='/scurry-activity/{{this.id}}'><p> {{this.title}} in {{this.city}}</p>
                  {{/each}}</a>
>>>>>>> master
                </div>
              </div>

              <div class='dashboard-card'>
                <div class="card-block" id='upcoming'>
                  <h5>Attending:</h5>
<<<<<<< HEAD
                  <hr>
                  <!-- {{#each events}}
                  <a href='/scurry-activity/{{this.id}}'><p> {{this.title}} in {{this.city}}</p> </a>
                  {{/each}} -->
=======
                  <a href='/scurry-activity/{{this.id}}'>
                  {{#each join}}
                 <p>{{this.event_title}}</p>
                 <p>{{this.event_when}}</p>
                 {{/each}}</a>


>>>>>>> master
                </div>
              </div>


            </div>
        </div>
    </div>
</div>
</div>
